[Unit]
Description=DeGoog Bun Service
After=network.target

[Service]
Type=simple

User=bun
WorkingDirectory=/opt/degoog

ExecStart=/home/bun/.bun/bin/bun run src/server/index.ts

Environment=NODE_ENV=production
Environment=DEGOOG_PORT=4444
Environment=DEGOOG_HOST=0.0.0.0

Restart=always
RestartSec=3

LimitNOFILE=65535

[Install]
WantedBy=multi-user.target