[Unit]
Description=Download watcher
After=network.target

[Service]
ExecStart=/usr/bin/bash -lc /usr/local/bin/download_watcher
Restart=always
User=solipsist
Group=solipsist
StandardOutput=append:/tmp/logs/download_watcher.log
StandardError=append:/tmp/logs/download_watcher.err
EnvironmentFile=/etc/default/download_watcher.conf

[Install]
WantedBy=multi-user.target
