[Unit]
Description=Kiwix server
After=network.target

[Service]
ExecStart=/usr/bin/bash -lc /usr/local/bin/download_watcher
Restart=always
User=solipsist
EnvironmentFile=/etc/default/kiwix.conf

[Install]
WantedBy=multi-user.target
