[Unit]
Description=Minecraft Server
After=network.target

[Service]
User=steam
WorkingDirectory=/home/steam/minecraft_server
ExecStartPre=/usr/bin/bash -lc /usr/local/bin/minecraft_setup
ExecStart=/usr/bin/bash -lc /usr/local/bin/minecraft "start"
ExecStop=/usr/bin/bash -lc /usr/local/bin/minecraft "stop"
Restart=on-failure
StandardOutput=append:/var/log/minecraft.log
StandardError=append:/var/log/minecraft.log
TimeoutStopSec=120
KillSignal=SIGINT
SuccessExitStatus=0 1

[Install]
WantedBy=multi-user.target