[Unit]
Description=Smart persistent reverse SSH tunnel
After=network-online.target mullvad-daemon.service
Wants=network-online.target

StartLimitIntervalSec=0

[Service]
Type=simple
User=solipsist                   
ExecStart=/usr/local/bin/ssh_tunnel
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal
EnvironmentFile=/etc/default/ssh_tunnel.conf

# Kill everything if it hangs too long
TimeoutStartSec=300
TimeoutStopSec=30

# Security hardening
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=no

[Install]
WantedBy=multi-user.target