adb-wrapper @ git+https://github.com/soIipsist/adb-wrapper@eddb725363bd939c470dc0bc10421626e2f9ecb0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
curl_cffi==0.11.1
idna==3.10
numpy==2.2.4
pycparser==2.22
requests==2.32.3
urllib3==2.3.0
yt-dlp==2025.6.30
