[Unit]
Description=Download watcher
After=network.target

[Service]
ExecStart=/usr/local/bin/download_watcher.sh
Restart=always
User=ubuntu
StandardOutput=append:/var/log/download_watcher.log
StandardError=append:/var/log/download_watcher.err
Environment=DOWNLOADS_PATH=/home/videos/downloads.txt

[Install]
WantedBy=multi-user.target
