<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>New Bookmarks</key>
    <array>
        <dict>
            <key>Name</key>
            <string>MY PROFILE</string>
            <key>Normal Font</key>
            <string>HackNF-Regular 20</string>
            <key>Non Ascii Font</key>
            <string>HackNF-Regular 20</string>          
        </dict>
    </array>

    <key>Custom Color Presets</key>
    <dict>
        <key>MY PROFILE</key>
        <dict>
            <key>Foreground Color</key>
            <dict>
                <key>Red Component</key>
                <real>1.00000</real>
                <key>Green Component</key>
                <real>1.00000</real>
                <key>Blue Component</key>
                <real>1.00000</real>
            </dict>
            <key>Background Color</key>
            <dict>
                <key>Red Component</key>
                <real>0.15775</real>
                <key>Green Component</key>
                <real>0.02936</real>
                <key>Blue Component</key>
                <real>0.31385</real>
            </dict>
            <key>Bold Color</key>
            <dict>
                <key>Red Component</key>
                <real>0.06385</real>
                <key>Green Component</key>
                <real>0.06385</real>
                <key>Blue Component</key>
                <real>0.34477</real>
            </dict>
            <key>Selection Color</key>
            <dict>
                <key>Red Component</key>
                <real>0.28518</real>
                <key>Green Component</key>
                <real>0.07500</real>
                <key>Blue Component</key>
                <real>0.52743</real>
            </dict>
            <key>Selected Text Color</key>
            <dict>
                <key>Red Component</key>
                <real>0.28518</real>
                <key>Green Component</key>
                <real>0.07500</real>
                <key>Blue Component</key>
                <real>0.52743</real>
            </dict>
            <key>Link Color</key>
            <dict>
                <key>Red Component</key>
                <real>0.06385</real>
                <key>Green Component</key>
                <real>0.06385</real>
                <key>Blue Component</key>
                <real>0.34477</real>
            </dict>
            <key>Cursor Color</key>
            <dict>
                <key>Red Component</key>
                <real>0.28518</real>
                <key>Green Component</key>
                <real>0.07500</real>
                <key>Blue Component</key>
                <real>0.52743</real>
            </dict>
            <key>Cursor Guide Color</key>
            <dict>
                <key>Red Component</key>
                <real>0.28518</real>
                <key>Green Component</key>
                <real>0.07500</real>
                <key>Blue Component</key>
                <real>0.52743</real>
            </dict>
            <key>Badge Color</key>
            <dict>
                <key>Red Component</key>
                <real>0.06385</real>
                <key>Green Component</key>
                <real>0.06385</real>
                <key>Blue Component</key>
                <real>0.34477</real>
            </dict>
            <key>Ansi 0 Color</key>
            <dict>
                <key>Red Component</key>
                <real>0.00000</real>
                <key>Green Component</key>
                <real>0.00000</real>
                <key>Blue Component</key>
                <real>0.00000</real>
            </dict>
            <key>Ansi 1 Color</key>
            <dict>
                <key>Red Component</key>
                <real>1.00000</real>
                <key>Green Component</key>
                <real>0.00000</real>
                <key>Blue Component</key>
                <real>0.00000</real>
            </dict>
            <key>Ansi 2 Color</key>
            <dict>
                <key>Red Component</key>
                <real>0.00000</real>
                <key>Green Component</key>
                <real>1.00000</real>
                <key>Blue Component</key>
                <real>0.00000</real>
            </dict>
            <key>Ansi 3 Color</key>
            <dict>
                <key>Red Component</key>
                <real>1.00000</real>
                <key>Green Component</key>
                <real>1.00000</real>
                <key>Blue Component</key>
                <real>0.00000</real>
            </dict>
            <key>Ansi 4 Color</key>
            <dict>
                <key>Red Component</key>
                <real>0.00000</real>
                <key>Green Component</key>
                <real>0.00000</real>
                <key>Blue Component</key>
                <real>1.00000</real>
            </dict>
            <key>Ansi 5 Color</key>
            <dict>
                <key>Red Component</key>
                <real>1.00000</real>
                <key>Green Component</key>
                <real>0.00000</real>
                <key>Blue Component</key>
                <real>1.00000</real>
            </dict>
            <key>Ansi 6 Color</key>
            <dict>
                <key>Red Component</key>
                <real>0.00000</real>
                <key>Green Component</key>
                <real>1.00000</real>
                <key>Blue Component</key>
                <real>1.00000</real>
            </dict>
            <key>Ansi 7 Color</key>
            <dict>
                <key>Red Component</key>
                <real>1.00000</real>
                <key>Green Component</key>
                <real>1.00000</real>
                <key>Blue Component</key>
                <real>1.00000</real>
            </dict>
            <key>Ansi 8 Color</key>
            <dict>
                <key>Red Component</key>
                <real>0.20000</real>
                <key>Green Component</key>
                <real>0.20000</real>
                <key>Blue Component</key>
                <real>0.20000</real>
            </dict>
            <key>Ansi 9 Color</key>
            <dict>
                <key>Red Component</key>
                <real>1.00000</real>
                <key>Green Component</key>
                <real>0.20000</real>
                <key>Blue Component</key>
                <real>0.20000</real>
            </dict>
            <key>Ansi 10 Color</key>
            <dict>
                <key>Red Component</key>
                <real>0.20000</real>
                <key>Green Component</key>
                <real>1.00000</real>
                <key>Blue Component</key>
                <real>0.20000</real>
            </dict>
            <key>Ansi 11 Color</key>
            <dict>
                <key>Red Component</key>
                <real>1.00000</real>
                <key>Green Component</key>
                <real>1.00000</real>
                <key>Blue Component</key>
                <real>0.20000</real>
            </dict>
            <key>Ansi 12 Color</key>
            <dict>
                <key>Red Component</key>
                <real>0.20000</real>
                <key>Green Component</key>
                <real>0.20000</real>
                <key>Blue Component</key>
                <real>1.00000</real>
            </dict>
            <key>Ansi 13 Color</key>
            <dict>
                <key>Red Component</key>
                <real>1.00000</real>
                <key>Green Component</key>
                <real>0.20000</real>
                <key>Blue Component</key>
                <real>1.00000</real>
            </dict>
            <key>Ansi 14 Color</key>
            <dict>
                <key>Red Component</key>
                <real>0.20000</real>
                <key>Green Component</key>
                <real>1.00000</real>
                <key>Blue Component</key>
                <real>1.00000</real>
            </dict>
            <key>Ansi 15 Color</key>
            <dict>
                <key>Red Component</key>
                <real>1.00000</real>
                <key>Green Component</key>
                <real>1.00000</real>
                <key>Blue Component</key>
                <real>1.00000</real>
            </dict>
            <key>Smart Cursor Color</key>
            <dict>
                <key>Red Component</key>
                <real>1.00000</real>
                <key>Green Component</key>
                <real>0.00000</real>
                <key>Blue Component</key>
                <real>1.00000</real>
            </dict>
            <key>Tab Color</key>
            <dict>
                <key>Red Component</key>
                <real>0.07500</real>
                <key>Green Component</key>
                <real>0.07500</real>
                <key>Blue Component</key>
                <real>0.07500</real>
            </dict>
            <key>Mark Color</key>
            <dict>
                <key>Red Component</key>
                <real>1.00000</real>
                <key>Green Component</key>
                <real>0.40000</real>
                <key>Blue Component</key>
                <real>0.00000</real>
            </dict>
            <key>Highlight Color</key>
            <dict>
                <key>Red Component</key>
                <real>0.00000</real>
                <key>Green Component</key>
                <real>0.40000</real>
                <key>Blue Component</key>
                <real>1.00000</real>
            </dict>
        </dict>
    </dict>
</dict>
</plist>
