<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Custom Color Presets</key>
    <dict>
        <key>MyCustomTheme</key>
        <dict>
            <key>Foreground Color</key>
            <dict>
                <key>Red Component</key>
                <real>0.00000</real>
                <key>Green Component</key>
                <real>1.00000</real>
                <key>Blue Component</key>
                <real>1.00000</real>
            </dict>
            <key>Background Color</key>
            <dict>
                <key>Red Component</key>
                <real>0.00000</real>
                <key>Green Component</key>
                <real>0.53179</real>
                <key>Blue Component</key>
                <real>0.53275</real>
            </dict>
            <key>Ansi 0 Color</key>
            <dict>
                <key>Red Component</key>
                <real>0.00000</real>
                <key>Green Component</key>
                <real>0.00000</real>
                <key>Blue Component</key>
                <real>0.00000</real>
            </dict>
            <key>Ansi 1 Color</key>
            <dict>
                <key>Red Component</key>
                <real>0.00000</real>
                <key>Green Component</key>
                <real>0.57839</real>
                <key>Blue Component</key>
                <real>0.00000</real>
            </dict>
            <key>Ansi 2 Color</key>
            <dict>
                <key>Red Component</key>
                <real>0.00000</real>
                <key>Green Component</key>
                <real>0.02161</real>
                <key>Blue Component</key>
                <real>0.57839</real>
            </dict>
            <key>Ansi 3 Color</key>
            <dict>
                <key>Red Component</key>
                <real>0.00000</real>
                <key>Green Component</key>
                <real>1.00000</real>
                <key>Blue Component</key>
                <real>0.57839</real>
            </dict>
            <key>Ansi 4 Color</key>
            <dict>
                <key>Red Component</key>
                <real>0.00000</real>
                <key>Green Component</key>
                <real>0.00000</real>
                <key>Blue Component</key>
                <real>0.02161</real>
            </dict>
            <key>Ansi 5 Color</key>
            <dict>
                <key>Red Component</key>
                <real>0.00000</real>
                <key>Green Component</key>
                <real>0.57839</real>
                <key>Blue Component</key>
                <real>0.02161</real>
            </dict>
            <key>Ansi 6 Color</key>
            <dict>
                <key>Red Component</key>
                <real>0.00000</real>
                <key>Green Component</key>
                <real>0.02161</real>
                <key>Blue Component</key>
                <real>1.00000</real>
            </dict>
            <key>Ansi 7 Color</key>
            <dict>
                <key>Red Component</key>
                <real>0.00000</real>
                <key>Green Component</key>
                <real>1.00000</real>
                <key>Blue Component</key>
                <real>1.00000</real>
            </dict>
        </dict>
    </dict>
</dict>
</plist>
